
RestApi/bin/System.Web.WebPages.Deployment.xml
EmailProcessor/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
*.ide-shm
*.dll
*.ide
*.ide-wal
*.ide
*.ide-shm
*.pdb
*.pdb
*.ide-wal
*.xml
*.config
*.exe
*.cache
*.dbmdl
*.txt
*.CopyComplete
*.rsp
*.ide
*.ide-shm
*.dbmdl
*.jfm
*.out
*.targets
*.dbmdl
*.ide-wal
*.ide-shm
*.ide
*.ide-shm
*.ide-wal
.vs/NIHApp/v15/.suo
Domain/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Domain/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
EmailProcessor/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Infrastructure/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
RestApi/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
RestApi/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Implementation/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Infrastructure/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Implementation/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Domain/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
EmailProcessor/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Implementation/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
NIHApp.Database/NIHApp.Database.dbmdl
RestApi/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Infrastructure/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
.vs/NIHApp/v15/Server/sqlite3/storage.ide-shm
.vs/NIHApp/v15/.suo
.vs/config/applicationhost.config
.vs/NIHApp/DesignTimeBuild/.dtbcache
.vs/NIHApp/v15/.suo
.vs/NIHApp/v15/Server/sqlite3/storage.ide
.vs/NIHApp/v15/Server/sqlite3/storage.ide-shm
.vs/NIHApp/v15/Server/sqlite3/storage.ide-wal
.vs/NIHApp/v15/Server/sqlite3/storage.ide-wal
.vs/NIHApp/v15/Server/sqlite3/storage.ide-shm
.vs/NIHApp/v15/Server/sqlite3/storage.ide
.vs/NIHApp/v15/.suo
.vs/NIHApp/DesignTimeBuild/.dtbcache
.vs/NIHApp/DesignTimeBuild/.dtbcache
.vs/NIHApp/v15/Server/sqlite3/storage.ide-shm
.vs/NIHApp/v15/Server/sqlite3/storage.ide-shm
.vs/NIHApp/v15/Server/sqlite3/storage.ide-wal
.vs/NIHApp/v15/Server/sqlite3/storage.ide
.vs/NIHApp/v15/.suo
.vs/VSWorkspaceState.json
.vs/NIHApp/v15/Server/sqlite3/storage.ide
.vs/NIHApp/v15/Server/sqlite3/storage.ide-shm
.vs/NIHApp/v15/Server/sqlite3/storage.ide-wal
.vs/slnx.sqlite
.vs/NIHApp/v15/Server/sqlite3/storage.ide
.vs/NIHApp/v15/Server/sqlite3/storage.ide
.vs/NIHApp/v15/Server/sqlite3/storage.ide-wal
.vs/slnx.sqlite
.vs/NIHApp/v15/Server/sqlite3/storage.ide-shm
.vs/slnx.sqlite
.vs/NIHApp/v15/Server/sqlite3/storage.ide
.vs/NIHApp/v15/Server/sqlite3/storage.ide-wal
.vs/NIHApp/v15/.suo
.vs/NIHApp/DesignTimeBuild/.dtbcache
.vs/NIHApp/v15/Server/sqlite3/storage.ide-wal
.vs/NIHApp/v15/Server/sqlite3/storage.ide
.vs/NIHApp/DesignTimeBuild/.dtbcache
.vs/NIHApp/v15/.suo
.vs/NIHApp/v15/Server/sqlite3/storage.ide
.vs/NIHApp/v15/Server/sqlite3/storage.ide-wal
.vs/slnx.sqlite
